# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
myenv/
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Local configuration
oanda.cfg

# Logs
*.log

# Local database
*.sqlite3