dash==2.14.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
plotly==5.14.1
pandas==2.2.2
numpy==1.26.0
scikit-learn==1.2.2
oandapyV20==0.7.2
apscheduler==3.10.1
pytz==2023.3
setuptools==69.0.0
gunicorn==21.2.0
wheel==0.42.0
pip==24.0
requests==2.28.2
websockets==11.0.3
gevent==23.9.1